In [1]:
import pandas as pd
import numpy as np

In [35]:
df=pd.read_csv("car.csv")
df.head()

  Car_Model  Mileage  Sell_Price  Age
0    BMW X5    69000       18000    6
1    BMW X5    35000       34000    3
2    BMW X5    57000       26100    5
3    BMW X5    22500       40000    2
4    BMW X5    46000       31500    4

PD DUMMIES

In [36]:
dummies=df
dummies.head()

  Car_Model  Mileage  Sell_Price  Age
0    BMW X5    69000       18000    6
1    BMW X5    35000       34000    3
2    BMW X5    57000       26100    5
3    BMW X5    22500       40000    2
4    BMW X5    46000       31500    4

In [43]:
dm=pd.get_dummies(df.Car_Model,dtype=int)
dm=df.join(dm)
dm.head()

  Car_Model  Mileage  Sell_Price  Age  Audi A5  BMW X5  Mercedez Benz C class
0    BMW X5    69000       18000    6        0       1                      0
1    BMW X5    35000       34000    3        0       1                      0
2    BMW X5    57000       26100    5        0       1                      0
3    BMW X5    22500       40000    2        0       1                      0
4    BMW X5    46000       31500    4        0       1                      0

In [45]:
final=dm.drop(['Car_Model','BMW X5'],axis=1)

In [46]:
final.head()

   Mileage  Sell_Price  Age  Audi A5  Mercedez Benz C class
0    69000       18000    6        0                      0
1    35000       34000    3        0                      0
2    57000       26100    5        0                      0
3    22500       40000    2        0                      0
4    46000       31500    4        0                      0

In [63]:
X=final.drop('Sell_Price',axis=1)
y=final.Sell_Price

In [64]:
from sklearn.linear_model import LinearRegression

In [73]:
lr=LinearRegression()
lr.fit(X.values,y.values)

LinearRegression()

In [74]:
lr.predict([[22500,2,0,0]])

array([41245.76426317])

In [66]:
lr.score(X,y)

0.9417050937281082

One Hot Encoding

In [115]:
dfle=pd.read_csv('car.csv')

In [116]:
dfle.Car_Model.unique()

array(['BMW X5', 'Audi A5', 'Mercedez Benz C class'], dtype=object)

In [122]:
from sklearn.preprocessing import OneHotEncoder

ohe=OneHotEncoder(handle_unknown='ignore',sparse_output=False,dtype=int).set_output(transform='pandas')
new=ohe.fit_transform(dfle[['Car_Model']])
new

    Car_Model_Audi A5  Car_Model_BMW X5  Car_Model_Mercedez Benz C class
0                   0                 1                                0
1                   0                 1                                0
2                   0                 1                                0
3                   0                 1                                0
4                   0                 1                                0
5                   1                 0                                0
6                   1                 0                                0
7                   1                 0                                0
8                   1                 0                                0
9                   0                 0                                1
10                  0                 0                                1
11                  0                 0                                1
12                  0                 0                                1

In [129]:
dfle=pd.concat([dfle,new],axis=1)
dfle.drop('Car_Model',axis=1,inplace=True)

In [130]:
X=dfle.drop("Sell_Price",axis=1)
y=dfle.Sell_Price

In [131]:
lrohe=LinearRegression()
lrohe.fit(X.values,y.values)

LinearRegression()

In [133]:
lrohe.score(X.values,y.values)

0.9417050937281083